@{
    ViewData["Title"] = "Home Page";
}



<div class="container text-center">
    <h1>PAGINA INIZIALE</h1>
    </div>


    <div class="container-fluid row">

        <div class="col-md-3 card p-0 rounded-2" ><div class="card-img">
            <img style="width:100%;" class="rounded-top" src="https://preview.redd.it/just-saw-a-plumbing-van-using-ugandan-knuckles-as-their-v0-xcg47a682t6b1.jpeg?width=1156&format=pjpg&auto=webp&s=05de67ab4f93fc29b29f6149eeca11a60efe1c22" alt="Hotel Image" />
        </div>
        <div class="card-body p-3">
			<h5 class="card-title">Hotel 1</h5>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc nec ultricies.</p>
			<a href="#" class="btn btn-primary">Dettagli</a>
        </div>
    </div>

    

    </div>